@model StudentManagement_MVC.Models.StuddentManagement_database.Student;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;


<div class="container">
    <h1>Add Student</h1>

    <form asp-action="Add" asp-controller="Student" method="post">
        <div>
            <input asp-for="StuId" type="hidden" class="form-control" readonly required />
        </div>
        <div>

            <label for="Fullname" class="form-label">Full Name</label>
            <input asp-for="Fullname" type="text" class="form-control " required />
        </div>
        <div>
            <label for="DoB" class="form-label">Date of Birth</label>
            <input asp-for="DoB" type="date" class="form-control " required />
        </div>
        <div>
            <label for="Sex" class="form-label">Sex</label>
            <select asp-for="Sex" class="form-control">
                <option value="" disabled selected>--Select Sex---</option>
                <option>Male</option>
                <option>Female</option>
            </select>


        </div>
        <div>
            <label for="Class" class="form-label">Class</label>
            <input asp-for="Class" type="text" class="form-control" />
        </div>
        <div>
            <label for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control" />
        </div>
        <div>
            <label for="ParentPhone" class="form-label">ParentPhone</label>
            <input asp-for="ParentPhone" type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add Student</button>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Student">Back to list</a>
    </form>
</div>
