@model IEnumerable<StudentManagement_MVC.Models.StuddentManagement_database.Subject>;
@* @model StudentManagement_MVC.Models.StuddentManagement_database.Subject; *@
@* tao luon action xoa subject tai form index nay luon  *@

<div>
    <h1> Subject List</h1>

    <div>
        <table>
            <thead>
                <tr>
                    <th> Subject ID</th>
                    <th>Subject Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SubId</td>
                        <td>@item.Subname</td>
                        <td>
                            <form action="DelSubByID" method="post">
                                <input type="hidden" value="@item.SubId" name="SubId"/>"
                                <button type="submit">Deleted Subject by ID</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

